.form-popup {
    display: none;
    position: absolute;
    left:50%;
    top:50%;
    height: 100%;
    width:340px;
    bottom: 0;
    margin-left:-272px;
    right: 15px;
    border: 3px solid #f1f1f1;
    margin-left: -272px;
    margin-top: -205px;
    height:500px;
   overflow: auto;
  }
  form{
    
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: #00b8f6;
    position: relative;
    display: flex;
    row-gap: 5px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

