
  form{
    
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    row-gap: 5px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.dataTables_filter input {
  margin-left: 10px;
}
.dataTables_filter label {
  margin-left: 600px;
  align-items: center;
}

